@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: PatrickHandSC;
    src: local('PatrickHandSC'), url('../fonts/PatrickHandSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: PressStart2P;
    src: local('PressStart2P'), url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: Fafo Nihongo;
    src: local('Fafo Nihongo'), url('../fonts/Fafo Nihongo.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }



}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fcfbf8;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  text-decoration: inherit;
}

p {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-size: 0.875em;
}

h1 {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-size: 1.17em;
}

h4 {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  font-size: 1em;
}

body {
  font-family: "PatrickHandSC", "Fafo Nihongo", sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
