.header {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;

}

.header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.menu-container {
    display: flex;
    margin: auto;
    gap: 16px;
}

.mobile-dropdown-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;

}

.nav_logo {
    display: flex;
}

.nav_logo img {
    height: 128px;
    width: 128px;
    margin: auto 0.5rem auto 0;
}

.nav_logo_text {
    margin: auto 0 auto 0.5rem;
}


@media screen and (max-width: 913px) {
    .nav__logo_image {
        width: 64px;
        height: 64px;
    }
}
